*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none
}

#logo{
    position: relative;;
    font-size: 2.5em;
    letter-spacing: 3px;
    margin: 10px 0px;
    font-family: Brush Script MT;
    background: linear-gradient(90deg, red, blue);
    -webkit-transition-duration:0.3s;
    -webkit-text-fill-color:transparent;;
    -webkit-background-clip: text;
}

.abajo #logo{
    color: black;
    margin: 0px 0px;
    display: none;
}
#logo2{
    display: none;
}

.abajo #logo2{
    display: block;
    position: relative;
    top: 5px;
    font-size: 2.2em;
    letter-spacing: 7px;
    margin: 8px 10px;
    font-family: Brush Script MT;
    background: linear-gradient(90deg, red, blue);
    -webkit-text-fill-color:transparent;;
    -webkit-background-clip: text;
    -webkit-transition-duration:0.3s;
}




header{
    position: fixed;
    width: 100%;
    justify-content: space-around;
    display: flex;
    z-index: 10;
    text-align: center;
    -webkit-transition-duration:0.3s;
}

header nav{
    margin: 10px 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition-duration:0.3s;
    overflow: hidden;
}

header ul{
    position: relative;
    display: flex;
}

header li{
    list-style: none
}

header nav ul li a{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: helvetica;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 15px;
    -webkit-transition-duration:0.3s
}

header nav ul li:nth-child(2) a{
    border: 1px solid;
}
header nav ul li a:hover{
    background: #9d08bf;
    color: white
}

.abajo{
    background:#fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
    z-index: 10;
}

.abajo nav{
    margin: 7px 0px;
}

.abajo a{
    color: black;
}



.abajo nav ul li a:hover{
    background: gray;
    color: white;
}

.checkbtn{
    left: 25.5%;
    font-size: 30px;
    color: #fff;
    line-height: 80px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: none;
    
}

#check{
    position: relative;
    top: 25px;
    left: 25.5%;
    height: 30px;
    width: 30px;
    opacity: 0;
    cursor: pointer;
}







/************PIE DE PAGINA********/
footer{
    position: absolute;
    top: 200vh;
    background: #5B5B5B;
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
footer div{
    height: 85%;
    text-align: center;
}

footer .columna1{
    width: 40%;
}

footer .columna1 h2{
    margin: 10px;
    font-size: 2em;
    letter-spacing: 2px
}

footer .columna1 p{
    margin: 10px 60px 
}

footer .columna2{
    position: relative;
    width: 20%;
}

footer .columna2 h2{
    position: relative;
    margin: 10px;
    font-size: 2em;
    letter-spacing: 2px;
}

footer .redes a{
    position: relative;
    top: 10px;
    left: 50px;
    margin: 10px 0px;
    height: 30px;
    display: flex;
    color: aliceblue;
}

footer .redes a:hover{
    -webkit-transform: scale(1.04) 
}

footer .redes h3{
    float: right;
    margin: 0px 20px
}

footer .columna3{
    width: 20%;
    justify-content: center
}

footer .columna3 div{
    position: relative;
    top: 45px;
    left: 50px;
    width: auto;
    display: flex;
    height: 40px;
    margin: 10px auto;
    align-items: center;
}
footer .columna3 div h3{
    margin: auto 20px
}

footer .columna4{
    position: relative;
    width: 20%;
}
footer .columna4 h2{
    position: relative;
    top: 20%;
    margin: 0px 20px
}
footer .columna4 a{
    position: relative;
    top:30%;
    color: aliceblue;
    background: linear-gradient(150deg, red, blue);
    padding: 20px 50px;
    border-radius: 10%
}

footer .compartir{
    position: relative;
    background: black;
    height: 15%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .compartir span{
    position: relative;
    top: 15%;
    font-size: 1.5em;
    margin: 0px 10px;
    color: white;
}

footer .compartir a:hover{
    -webkit-transform: scale(1.1) 
}


@media screen and (max-width: 858px){
    
    #logo , .abajo #logo{
        padding-top: 10px;
    }
    
    #logo{
        right: 10%
    }
    .abajo #logo2{
        right: 10%
    }
    .abajo nav{
        position: absolute;
        top: 50px;
        background: #fff
    }
    
    .abajo nav ul li a{
        color: black;
    }
    
    header nav{
        position: fixed;
        left:  -100%;
        top: 70px;
        background: #47008D;
        height: 200px;
        width: 100%;
        overflow: hidden;
        text-align: center
    }
    
    header .abajo{
        background: red;
        top: 50px;
    }
    
    .abajo nav{
    background: #9d08bf;
    top: 50px;
    }
    
    header nav  ul{
        position: absolute;
        top: 10px;
        display: inline-block;
        
    }
    
    header nav ul li a , .abajo nav ul li a{
        position: relative;
        font-size: 20px;
        float: left;
        color: aliceblue
    }
    
    #check{
        position: absolute;
        left: 80%;
        z-index: 10;
    }
    
    .checkbtn{
        display: block;
        color: #9d08bf;
        position: absolute;
        left: 80%;
    }
    
    .abajo #check{
        position: absolute;
        left: 80%;
        top: 25%;
    }
    .abajo .checkbtn{
        position: absolute;
        left: 80%;
        top: -15%
    }
    
    #check:checked ~ nav{
        left: 0px;
    }
    
   
    
    
    
    
    

    footer{
        height: 95vh;
        display: flex;
        flex-grow: row;
    } 
    
    footer .caja{
        width: 100%;
        overflow: hidden;
    }
    footer .columna1{
        height: 40%;
    }
    
    footer .columna1 h2{
        margin: 5px
    }
    
    footer .columna1 p{
        position: relative;
        top:-7px;
        width: 98%;
        margin: 0px;
    }
    footer .columna2{
        height: 20%;
        display: inline-block;
        flex-grow: ;
        justify-content: center;
    }
    footer .columna2 h2{
        position: absolute;
        width: 100%;
        margin: 0;
        font-size: 25px
    }
    footer  .columna2 a{
        position: relative;
        top: 17%;
        left: 0;
        height: 30px;
        width: 60%;
        color: aliceblue;
        margin: 3px auto
    }
    
    footer .columna3{
        height: 15%;
        display: flex;
        display: inline-block;
    }
    footer .columna3 div{
        position: relative;
        top: 0px;
        left: 0;
        height: auto;
        width: 100%;
        color: aliceblue;
        margin: 10px auto;
        justify-content: center;
    }
    
    
    footer .columna4{
        height: 20%;
    }
    
    footer .columna4 h2{
        position: relative;
        top: 20px;
        
    }
    footer .columna4 a{
        top: 20%
        
    }
    
    
    
    footer .compartir{
        height: 5%
    }
}   
